# ============================================================
# 🔑 Clés API — Copie ce fichier en .env et remplis tes clés
# ============================================================

GEMINI_KEY=

#TIKTOK
CLIENT_KEY=
CLIENT_SECRET=